<header>
        
    <div class="logo">Logardo😎</div>

    <div class="categoriesBox">

        <ul class="categories">
            <a class="categoryLink"><li class="category">PELÍCULAS</li></a>
            <a class="categoryLink"><li class="category">SERIES</li></a>
            <a class="categoryLink"><li class="category">FAVORITOS</li></a>
        </ul>

    </div>
    <div class="userAndSearch">

        <form action="" method="" class="searchBarBox">		    
            <input type="searchBar" placeholder="Search...">		    	
            <button class="searchBtn">Search</button>
        </form>

        <div class="dropDown">
            <button class="dropBtn">Menú</button>
            <div class="dropdownContent">
                <a href="/register">Registráte!</a>
                <a href="/login">Iniciá sesión!</a>
                <a href="#">Tu Perfil</a>
                <a href="#">Dark Mode: ON</a>
                <a href="#">FAQ</a>
                <a href="#">Términos y Condiciones</a>
            </div>
        </div>

    </div>

</header>