<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('partials/headMetas') %>
        <title>Inicio de sesión | Social Network of Movies</title>
    <%- include('partials/headLinks') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>

    <%- include('partials/header') %>

        <div class="loginBox">
            <h3 class="loginTitle">Inicio de sesión</h3>
            <form action="" method="POST" class="login">

                <label class="emailLabel" for="email">Email</label>
                <input type="email" class="email" id="email">

                <hr>

                <label class="passwordLabel" for="password">Contraseña</label>
                <input type="password" class="password" id="password">

                <input type="button" value="Iniciar sesión" class="loginBtn">

            </form>
            
        <a href="#" class="alreadyHaveAccount">¿Olvidaste tu contraseña?</a>

        <p class="notHaveAccount">¿No tenés una cuenta? <a href="#" class="notHaveAccountAnchor">Registrate</a></p>

        </div>



    <%- include('partials/footer') %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
